In [43]:
import pandas as pd
df = pd.read_csv('[1201]ESG.csv',dtype = {'corp_code':str,'stock_code':str})
df.head()

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산총계(t-1),매출액,매출액(t-1),부채총계,...,무형자산,현금 배당 성향,현금 배당 성향(t-1),사외이사 비율,최대주주지분율,영업활동 현금흐름,정규직 수,정규직 수(t-1),비정규직 수,비정규직 수(t-1)
0,기아,00106641,000270,2022,B+,7.371096e+13,6.685000e+13,8.655903e+13,6.986237e+13,3.436788e+13,...,2.905980e+06,25.9,25.3,55.555556,35.62,9.333186e+12,34260.0,34562.0,1587.0,939.0
1,S-Oil,00138279,010950,2022,A,1.961314e+13,1.869324e+13,4.244603e+13,2.746392e+13,1.112967e+13,...,1.064180e+05,30.4,32.1,8.196721,63.44,1.278921e+12,951.0,727.0,51.0,35.0
2,풀무원,00155355,017810,2022,A,2.049218e+12,1.969373e+12,2.838304e+12,2.518896e+12,1.502571e+12,...,9.776635e+10,-10.1,NaN,29.629630,54.30,9.483757e+10,470.0,434.0,37.0,18.0
3,케이티,00190321,030200,2022,A,4.098068e+13,3.715934e+13,2.565001e+13,2.489800e+13,2.256596e+13,...,3.129833e+06,39.8,33.2,40.000000,12.68,3.597065e+12,19823.0,21087.0,721.0,672.0
4,SK,00181712,034730,2022,A+,1.945059e+14,1.653684e+14,1.345516e+14,9.720365e+13,1.226971e+14,...,1.270902e+07,25.5,22.8,4.807692,26.69,7.677749e+12,4422.0,959.0,164.0,167.0

In [3]:
f2 = (df['영업활동 현금흐름'] / df['자산총계'])
f2.describe()

count    2364.000000
mean        0.042607
std         0.082644
min        -0.665621
25%         0.004264
50%         0.045907
75%         0.084574
max         0.435786
dtype: float64

In [4]:
f3 = df['부채총계'] / df['자산총계']
f3.describe()

count    2364.000000
mean        0.455330
std         0.235331
min         0.024488
25%         0.282892
50%         0.456362
75%         0.606798
max         4.391744
dtype: float64

In [5]:
f4 = df['무형자산'] / df['자산총계']
f4.describe()

count    2.363000e+03
mean     6.950766e-02
std      1.245662e-01
min      6.037110e-10
25%      5.628797e-03
50%      1.974276e-02
75%      7.906357e-02
max      1.280853e+00
dtype: float64

In [16]:
g1 = (df['매출액'] - df['매출액(t-1)'])/(df['매출액'])
g1.describe()

count    2364.000000
mean       -0.120742
std         6.631346
min      -317.874754
25%        -0.025150
50%         0.084564
75%         0.178729
max         0.999154
dtype: float64

In [20]:
df[df['회사명']=='대덕']

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산총계(t-1),매출액,매출액(t-1),부채총계,...,무형자산,현금 배당 성향,현금 배당 성향(t-1),사외이사 비율,최대주주지분율,영업활동 현금흐름,정규직 수,정규직 수(t-1),비정규직 수,비정규직 수(t-1)
50,대덕,00109189,008060,2022,B+,1.903351e+12,1.723958e+12,1.661907e+12,1.371709e+12,4.190834e+11,...,3.129273e+10,72.9,-453.4,16.666667,43.37,5.524447e+09,13.0,16.0,0.0,0.0
838,대덕,00109189,008060,2021,A,1.723958e+12,1.638749e+12,1.371709e+12,3.362593e+09,3.510555e+11,...,5.704192e+10,-453.4,7.2,11.111111,43.37,9.352667e+09,16.0,13.0,0.0,0.0
1626,대덕,00109189,008060,2020,A,1.638749e+12,1.201854e+12,3.362593e+09,1.072246e+12,2.924812e+11,...,9.255511e+10,7.2,7.9,0.000000,17.66,4.127710e+10,13.0,159.0,0.0,624.0

In [22]:
g2 = (df['현금 배당 성향'] - df['현금 배당 성향(t-1)'])/(df['현금 배당 성향'])
g2.describe()

count    1326.000000
mean            -inf
std              NaN
min             -inf
25%        -0.417198
50%         0.035076
75%         0.406162
max        51.799729
dtype: float64

In [37]:
df['EBITDA(t-1)'] = df['EBITDA(t-1)'].str.replace(',','')
df['EBITDA(t-1)'] = df['EBITDA(t-1)'].astype('float')
g3 = (df['EBITDA'] - df['EBITDA(t-1)']) / (df['EBITDA'])
g3.describe()

count    2364.000000
mean        0.102712
std        10.890460
min      -315.969743
25%        -0.230160
50%         0.272319
75%         0.836252
max       134.738889
dtype: float64

In [44]:
g4 = (df['정규직 수'] - df['정규직 수(t-1)']) / (df['정규직 수'])
g4.describe()

count    2364.000000
mean       -0.123222
std         2.321098
min       -94.206897
25%        -0.043678
50%         0.007006
75%         0.063830
max         1.000000
dtype: float64

In [45]:
df.loc[g4[g4==min(g4)].index[0]]

회사명                            DL
corp_code                00109693
stock_code                 000210
연도                           2021
ESG                             A
자산총계              8180715293855.0
자산총계(t-1)        13901859840255.0
매출액               2358774796779.0
매출액(t-1)          1566148811684.0
부채총계              3793988663859.0
EBITDA             717852472556.0
EBITDA(t-1)         44412467368.0
무형자산               572290829631.0
현금 배당 성향                     5.98
현금 배당 성향(t-1)                9.97
사외이사 비율                 27.272727
최대주주지분율                     23.11
영업활동 현금흐름          300778140679.0
정규직 수                        29.0
정규직 수(t-1)                 2761.0
비정규직 수                       10.0
비정규직 수(t-1)                2207.0
Name: 798, dtype: object

In [46]:
df[df['회사명']=='DL']

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산총계(t-1),매출액,매출액(t-1),부채총계,...,무형자산,현금 배당 성향,현금 배당 성향(t-1),사외이사 비율,최대주주지분율,영업활동 현금흐름,정규직 수,정규직 수(t-1),비정규직 수,비정규직 수(t-1)
10,DL,00109693,000210,2022,A,1.201899e+13,8.180715e+12,5.174950e+12,2.358775e+12,7.401229e+12,...,1.452613e+12,31.40,5.98,23.076923,43.35,2.279111e+11,30.0,29.0,11.0,10.0
798,DL,00109693,000210,2021,A,8.180715e+12,1.390186e+13,2.358775e+12,1.566149e+12,3.793989e+12,...,5.722908e+11,5.98,9.97,27.272727,23.11,3.007781e+11,29.0,2761.0,10.0,2207.0
1586,DL,00109693,000210,2020,A,1.390186e+13,1.344522e+13,1.566149e+12,1.660433e+12,1.069054e+13,...,4.774421e+11,9.97,10.18,0.000000,23.12,1.366185e+12,2761.0,3091.0,2207.0,1302.0

In [52]:
g5 = (df['비정규직 수'] - df['비정규직 수(t-1)']) / (df['비정규직 수'])

In [54]:
s1 = df['최대주주지분율']